<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Raspi forum</title>
    </head>
    <body>
        <h2>Raspberry pi forum</h2>
        <p>Welcome to the home page of the raspberry pi forum!</p>
        <p>Here you can discuss anything related to the raspberry pi.</p>
        <p>Feel free to ask questions, share your projects or help others with their projects.</p>
        <p>Enjoy your stay!</p>

        <h3>Latest posts</h3>
        {% if latest_posting_list %}
        <ul>
            {% for posting in latest_posting_list %}
                <li><a href="posting/{{ posting.id }}">{{ posting.text }}</a> upvotes {{ posting.likes }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No posts are available.</p>
        {% endif %}

        <h3>Post a new forum topic</h3>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }} 
            <button type="submit">Submit</button>
        </form>

        <form action='logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>
    </body>
</html>